*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

html{
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    color: #5a5a5a;
    background-color: #ffffff;
    text-rendering: optimizeLegibility;
}


/* ------------------------------------------------------------ */
/* -----------------------HEADER------------------------------- */
/* ------------------------------------------------------------ */
header{
    background-image: linear-gradient(45deg, rgba(2,33,64,0.8) 55%, rgba(45,95,43,0.85)), url("../img/background4.jpeg");
    /* Bài 11: linear-gradient */
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-attachment: fixed;
}

.logo{
    width: 350px;
    float: left;
    margin-left: 70px;
    margin-top: -50px; /* Bài 11 */
    /* background-color: aqua; */
}

.main-nav{
    float: right;
    list-style: none; /* Bài 11: Bỏ dấu chấm mặc định của li */
    margin-right: 50px;
    margin-top: 55px;
}

.main-nav li{
    display: inline-block; /* Bài 11: cho các text của li nằm hàng ngang */
    margin-right: 30px; /* Bài 11: Tạo khoảng cách giữa các link */
}

.main-nav li a{
    text-decoration: none; /* Bài 11 */
    color: white;
    font-size: 110%; /* Bài 11 */
    font-weight: 700; /* Bài 11 */
    transition: border-bottom 0.5s; /* Bài 11: Tạo hiệu ứng hiển thị nét gạch dưới trong khoảng 0.5s */
}

.main-nav li a:hover,
.main-nav li a:active{
    border-bottom: 2px solid #cccccc; /* Bài 11: hiển thị nét gạch dưới menu khi hover chuột */
}

.clearfix::after{
    content: " ";
    display: table;
    clear: both;
}

.row{
    width: 1140px;
    margin: 0 auto;
}