/* #group.howkteam.com -> trao đổi, hỏi đáp, thảo luận
     #nhớ Like và Sub video youtube
     #Code: howkteam.com
     #Kho tài liệu: Howkteam.com/documentation
     #Hỏi đáp tại website: howkteam.com/questions => người khác tìm lại có đáp án  */
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

html{
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    color: #5a5a5a;
    background-color: #ffffff;
    text-rendering: optimizeLegibility;
    /* mac dinh la 16px */
}



/* -------------------------------------------- */
/* ------------------REUSEABLE----------------- */
/* -------------------------------------------- */
.btn{
    text-decoration: none;
    color: white;
    background-color: #e67e22;
    padding: 15px 30px;
    border-radius: 20px;
    margin: 0 5px;
    width: 190px;
    display: inline-block;
    text-align: center;
    transition: all .3s;
}

.btn:hover,
.btn:active{
    background-color: #d35400;
}

.clearfix::after{
    content: " ";
    display: table;
    clear: both;
}

.row{
    width: 1140px;
    margin: 0 auto;
}

h1, h2{
    text-transform: uppercase;
    letter-spacing: 1px;
}

h1{
    font-size: 300%;
    font-weight: 400;
    word-spacing: 5px;
    color: white;
    line-height: 135%;
    margin-bottom: 50px;
}

h2{
    color: #e67e22;
    font-size: 180%;
    font-weight: 700;
    text-align: center;
}

h2:after{
    content: " ";
    display: block;
    width: 150px;
    height: 3px;
    background-color: rgba(230, 126, 34, 0.5);
    margin: 0 auto;
    margin-top: 5px;
}

.p-long{
    text-align: center;
    color: #265077;
    font-size: 22px;
    width: 70%;
    margin: 40px auto;
    line-height: 140%;
}

section{
    padding-top: 50px;
}

/* -------------------------------------------- */
/* ------------------HEADER------------------ */
/* ------------------------------------------------ */
header{
    background-image: linear-gradient(45deg, rgba(2,33,64, 0.8) 55%, rgba(45,95,93, 0.85)), url("../img/background4.jpeg");
    background-size: cover;
    background-position: center;
    height: 100vh;
    /* view height */
    background-attachment: fixed;
}

.logo{
    width: 350px;
    float: left;
    margin-left: 70px;
    margin-top: -50px;
}

.main-nav{
    float: right;
    list-style: none;
    margin-right: 50px;
    margin-top: 55px;
}

.main-nav li{
    display: inline-block;
    margin-right: 30px;
}

.main-nav li a{
    text-decoration: none;
    color: white;
    font-size: 110%;
    font-weight: 700;
    transition: border-bottom 0.5s;
}

.main-nav li a:hover,
.main-nav li a:active{
    border-bottom: 2px solid #cccccc;
}


.heading-main-box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-45%, -55%);
    /* background-color: orange; */
    width: 1140px;
}



/* -------------------------------------------- */
/* ------------------ABOUT SECTION------------- */
/* -------------------------------------------- */

.about-picture{
    position: relative;
    margin-top: 50px;
}

/*  Bài 13: Create
    Bài 14: Update */
.about-picture img{
    width: 90%;
    border-radius: 20px;
    border: 4px solid #c2e1fd;
    box-shadow: 0px 5px 15px 5px #265077;
    transition: all .7s;
}

/* Bài 14: Create */
.picture-title{
    position: absolute;
    top: 50%;
    left: 50%;
    color: #c2e1fd;
    transform: translate(-65%, 100%); /*Canh giữa title*/
    opacity: 0;
    transition: all .7s;
}

/* Bài 14: Create */
.about-picture:hover img,
.about-picture:active img{
    filter: brightness(55%) blur(2px); 
}

/* Bài 14: Create */
.about-picture:hover .picture-title,
.about-picture:active .picture-title{
    transform: translate(-65%, -50%); 
    opacity: 1;
}
