*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

html{
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    color: #5a5a5a;
    background-color: #ffffff;
    text-rendering: optimizeLegibility;
}


/* ------------------------------------------------------------ */
/* -----------------------HEADER------------------------------- */
/* ------------------------------------------------------------ */
header{
    background-image: url("../img/background4.jpeg");
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-attachment: fixed;
}

.logo{
    width: 350px;
}

.row{
    width: 1140px;
    margin: 0 auto;
}