*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

html{
	font-family: 'Lato', sans-serif;
}

h1, h2{
	color: purple;
}

h1{
	font-size: 80px;
	margin-bottom: 15px;
}

h2{
	font-size: 40px;
	margin-bottom: 15px;
}

p{
	margin-bottom: 10px;
}

input, textarea{
	display: block;
}

input{
	margin: 20px;
	width: 250px;
	padding: 5px 10px;
}

textarea{
	margin-left: 20px;
	width: 250px;
	padding: 5px 10px;
}

.container{
	width: 1140px;
	margin: 0 auto; /*Kỹ thuật canh giữa*/
	background-color: lavender;
	padding: 0 20px;
}

.content{
	width: 75%;
	float: left;
}

form{
	width: 25%;
	float: left;
}

.clearfix::after{
	content:"";
	display: table;
	clear:both;
}

.avatar_image{
	border-radius: 50%;
	width: 200px;
	height: 200px;
	float: left;
	
}

h4{
	float: left;
	margin-top: 80px;
	margin-left: 40px;
	/* background-color: darkkhaki; */
}

.info{
	background-color: aquamarine;
	margin-top: 20px;
	padding-bottom: 30px;
}

.date{
	position: relative;
	left: 200px;
}